<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Login</title>
</head>

<body>
  <div class="login-container">
    <h2>Welcome to ADBU</h2>
   <a href="https://www.dbuniversity.ac.in/">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc6lI3VcVsmLRmjLfJfKuTU1jxG3bTOH8rYREn5Doh8Q&"
      alt="Institution Logo" class="logo"></a>
    <h2>Login</h2>

    {% if message %}
    <p style="color: red;">{{ message }}</p>

    {% endif %}
    <form method="post">
      <label for="username">Username:</label>
      <div class="div1">
        <input class="box" type="text" id="username" name="username" required><br><br>
      </div>
      <label for="password">Password:</label>
      <div class="div2">
        <input class="box"type="password" id="password" name="password" required><br><br>
      </div>
      <button class="login" type="submit"><div class="logbut">Login<div></button>
    </form>
  </div>
</body>

</html>